# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# Model files
*.pt
*.pth
*.ckpt

# Data directories
dataset/
dataset_640x640/
runs/

# Pretrained weights (example)
convnext_base_22k.pth
process_dataset/build_dataset_coco.py
process_dataset/convert_coco_to_yolo.py
process_dataset/generate_coco_bbox.py
process_dataset/generate_preview_coco.py
process_dataset/generate_preview.py
process_dataset/resize_dataset.py
process_dataset/split_record.csv
process_dataset/coco_annotations/fill_segmentation.py
process_dataset/coco_annotations/instances_train_segmented.json
process_dataset/dataset_coco/annotations/test.json
process_dataset/dataset_coco/annotations/train.json
process_dataset/dataset_coco/annotations/val.json
